{{#if link}}
  <a href="{{link.url}}" class="btn{{#each modifier}} btn--{{.}}{{/each}}{{#if isLoading}} is-loading{{/if}}{{#if isActive}} is-active{{/if}}"{{#if isDisabled}} disabled{{/if}}>
{{else}}
  <button type="button" class="btn{{#each modifier}} btn--{{.}}{{/each}}{{#if isLoading}} is-loading{{/if}}{{#if isActive}} is-active{{/if}}"{{#if isDisabled}} disabled{{/if}}>
{{/if}}
{{#if isLoading}}
  <span class="btn_content">
{{/if}}
{{#if icon}}
  <!--TODO: Consider renaming this so there isn't a redundant icon -->
  {{render '@icon' icon merge=true}}
{{else}}
  {{text}}
{{/if}}
{{#if isLoading}}
  </span>
  <div class="btn_progress">
    {{render '@progress--circular-small'}}
  </div>
{{/if}}
{{#if link}}
  </a>
{{else}}
  </button>
{{/if}}
<!--TODO: Add variants to include focus states -->
<!--TODO: Consolidate the button templates -->
<!--TODO: Add hooks for adding classes specific to other patterns -->