<section class="card{{#each modifier}} card--{{.}}{{/each}}">
  {{#if media}}
    <div class="card_media">
      <img src="{{media.src}}">
    </div>
  {{/if}}
  {{#if header}}
    <header class="card_header{{#each header.modifier}} card_header--{{.}}{{/each}}">
      {{#>headerSlot}}
        <div class="card_title">{{header.title}}</div>
        {{#if action}}
          <button type="button" class="btn btn--icon">
            <svg class="icon icon--sm">...</svg>
          </button>
        {{else}}
          <div class="card_sub-title">{{header.subTitle}}</div>
        {{/if}}
      {{/headerSlot}}
    </header>
  {{/if}}
  <div class="card_content{{#each content.modifier}} card_content--{{.}}{{/each}}">
    {{#if content.empty}}
      <div class="card_empty">{{content.empty.text}}</div>
    {{else if content.loading}}
      <div class="card_content">
        <div class="progress-circular"></div>
      </div>
    {{else if content.error}}
      <!--TODO: Fix color of error link -->
      <div class="error-loading">
        <div class="error-loading_image">{{content.error.loadingImg}}</div>
        <div>{{content.error.text}}</div>
        <a href="{{content.error.retry.url}}" class="error-loading_retry">{{content.error.retry.text}}</a>
      </div>
    {{else}}
    <!--TODO: Fix order of priority -->
      {{#>container}}{{content.container}}{{/container}}
    {{/if}}
  </div>
  {{#if footer}}
    <footer class="card_footer">
      {{render '@button' footer.button merge=true}}
    </footer>
  {{/if}}
</section>