<div class="avatar{{#each modifier}} avatar--{{.}}{{/each}}{{#if tooltip}} tooltip{{#each tooltip.modifier}} tooltip--{{.}}{{/each}}{{/if}}" {{#if isBgImg}} style="background-image: url({{img.src}})" {{/if}}{{#if tooltip}} aria-label="{{img.alt}}" {{/if}}>
  {{#if isBgImg}}
    <div class="u-sr-only">{{img.alt}}</div>
  {{else}}
    <img src="{{img.src}}" alt="{{img.alt}}">
  {{/if}}
  {{#if badge}}
    <div class="avatar_badge">
      <img src="{{badge.img.src}}" alt="{{badge.img.alt}}">
    </div>
  {{/if}}
</div>
<!--TODO: Will badge get confused with the actual badge component? -->