<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="cleartype" content="on">
  <title>Card dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="apple-mobile-web-app-title" content="JHA Design">
  <meta name="application-name" content="JHA Design">
  <meta name="theme-color" content="#4caf50">
  <link rel="stylesheet" href="{{path '/styles/jha.css'}}">
  <style>
    :root {
      --primaryAppColor: {{theme.color}};
    }
  </style>
</head>

<body>
  {{render '@header'}}
  <div class="viewport">
    <header class="page-header u-visible@mobile">
      <div class="container">
        {{render '@button' apps}}
        <h1 class="page-header_title u-visible@mobile">Dashboard</h1>
      </div>
    </header>
    <div class="container">
      <div class="grid">
        <div class="grid_6@md">
          {{#>@card rightNow}}
            {{#*inline 'container'}}
              <div class="grid">
                <div class="grid_6@xs grid_3@sm grid_6@md grid_3@lg">
                  {{render '@stat' loggedInUsers merge=true}}
                </div>
                <div class="grid_6@xs grid_3@sm grid_6@md grid_3@lg">
                  {{render '@stat' signUps merge=true}}
                </div>
                <div class="grid_6@xs grid_3@sm grid_6@md grid_3@lg">
                  {{render '@stat' userLogins merge=true}}
                </div>
                <div class="grid_6@xs grid_3@sm grid_6@md grid_3@lg">
                  {{render '@stat' averageSession merge=true}}
                </div>
              </div>
              {{/inline}}
              {{/@card}}
              {{#>@card userLookup}}
                {{#*inline 'container'}}
                  <form class="search">
                    <label class="search_bar">
                      <span class="search_icon">
                        <svg class="icon" role="presentation">
                          <use xlink:href="#search"></use>
                        </svg>
                      </span>
                      <input type="search" class="form-control search_input" placeholder="Search" />
                    </label>
                  </form>
                  {{/inline}}
                  {{/@card}}
                  {{render '@card' moneyMovement}}
                  {{render '@card' messages}}
        </div>
        <div class="grid_6@md">
          {{#>@card usage}}
            {{#*inline 'container'}}
              <div class="grid">
                <div class="grid_6@sm grid_4@lg">
                  <!--TODO: Reconcile this title with stat subtitle -->
                  <div class="h6 text--sm text--light">Active Users</div>
                  {{render '@stat' activeUsers}}
                </div>
                <div class="grid_6@sm grid_4@lg">
                  <div class="h6 text--sm text--light">Retention</div>
                  {{render '@stat' retention}}
                </div>
                <div class="grid_6@sm grid_4@lg">
                  <div class="h6 text--sm text--light">Sign Ups</div>
                  {{render '@stat' signUps}}
                </div>
              </div>
              <hr />
              <div class="h6 text--sm text--light">Usage by platform</div>
              {{#>@list platformUsage}}
                {{#*inline 'itemSlot'}}
                  <div class="list_item_action">
                    {{render '@icon' icon}}
                  </div>
                  <div class="list_item_content">
                    {{render '@progress' progress}}
                  </div>
                {{/inline}}

              {{/@list}}
              
              {{/inline}}
              {{/@card}}
              {{#>@card rdcRequests}}
                {{#*inline 'container'}}
                  {{#>@list list}}
                    {{#*inline 'item-slot'}}
                      <div class="list_item_action">
                        {{render '@avatar--sm' avatar merge=true}}
                      </div>
                      <div class="list_item_content">
                        <div class="sub-title u-float-right">{{time}}</div>
                        <div class="title">{{title}}</div>
                        <div class="sub-title">{{subTitle}}</div>
                      </div>
                    {{/inline}}
                  {{/@list}}
                {{/inline}}
              {{/@card}}
              {{render '@card' lockedOutUsers}}
              {{render '@card' releaseNotes}}
        </div>
      </div>
    </div>
  </div>
  <div class="dialog_backdrop" style="display: none;"></div>
  <script src="{{path '/scripts/standalone.js'}}" async defer></script>
  <!--TODO: What does standalone.js do? -->
  <script src="{{path '/scripts/icons.js'}}" data-load-icons="{{path '/images/icons.svg'}}"></script>
</body>

</html>