<div class="thumbnail{{#each modifier}} thumbnail--{{.}}{{/each}}" style="background-image: url({{url}});" {{#if type.bgImg}}role="image" aria-label="{{property.url}}" {{/if}}>
  {{#unless bgImg}}
    <img src="{{property.url}}" alt="{{property.alt}}">
  {{/unless}}
</div>

<!--TODO: Consider creating sample pages similar to button -->