<div class="thumbnail{{#each modifier}} thumbnail--{{.}}{{/each}}" style="background-image: url({{url}});" {{#if inline}}role="image" aria-label="{{url}}" {{/if}}>
  {{#unless inline}}
    <img src="{{url}}" alt="{{alt}}">
  {{/unless}}
</div>