<div class="gallery grid grid--no-gutter">
  {{#each item}}
    <!--TODO: Determine how to patternize grid structure -->
    <div class="grid_6@xs grid_4@sm grid_3@md">
      <div class="gallery_item{{#if isSelected}} is-selected{{/if}}" {{#if ../image}} style="background-image: url({{url}});{{/if}}">
        <div class="gallery_item_details">
          <div class="gallery_item_selected">
            {{render '@icon' icon merge=true}}
          </div>
          <div class="gallery_item_title">{{title}}</div>
          <div class="gallery_item_size">{{size}}</div>
          {{render '@avatar--xs' avatar merge=true}}
        </div>
      </div>
    </div>
  {{/each}}
</div>