<div class="timeline">
  {{#each item}}
    <div class="timeline_item">
      <div class="timeline_item_date">{{date}}</div>
      {{#each activity}}
        <div class="timeline_group">
          <div class="{{#if type}}timeline_item_type{{else}}timeline_item_dot{{/if}}">
            {{#if type}}
              {{render '@icon--sm' type.icon merge=true}}
            {{/if}}
          </div>
          <div class="timeline_item_group">
            <div class="activity_item">
              <div class="activity_item_time">{{time}}</div>
              <div class="activity_item_desc">
                {{#>descSlot}}
                  {{render '@avatar--xs'}}
                  {{description}}
                {{/descSlot}}
              </div>
              {{#if action}}
                <div class="activity_item_action">
                  <a href="{{action.url}}" target="_blank">{{action.text}}</a>
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>