<!--TODO: Should the backdrop be its own pattern? -->
<!-- The backdrop should be a child of the body element -->
<div class="dialog_backdrop{{#each backdrop.modifier}} dialog_backdrop--{{.}}{{/each}}{{#if backdrop.isVisible}} is-visible{{/if}}"></div>
<div class="dialog{{#each modifier}} dialog--{{.}}{{/each}}{{#if isVisible}} is-visible{{/if}}">
  <div class="dialog_inner{{#each inner.modifier}} dialog_inner--{{.}}{{/each}}">
    <header class="dialog_header{{#each header.modifier}} dialog_header--{{.}}{{/each}}">
      {{render '@button' action merge=true}}
      <div class="dialog_title">{{header.text}}</div>
    </header>
    <div class="dialog_content{{#each content.modifier}} dialog_content--{{.}}{{/each}}">
      {{#>contentSlot}}{{content.slot}}{{/contentSlot}}
    </div>
    {{#if footer}}
      <div class="dialog_footer">
        {{#>footerSlot}}{{footer.slot}}{{/footerSlot}}
      </div>
    {{/if}}
  </div>
</div>