<section class="message{{#each modifier}} message--{{.}}{{/each}}{{#if isFluid}} fluid-container{{else}} container{{/if}}">
  <div class="message_inner">
    <div class="message_date">
      {{date}}
    </div>
    <header class="message_heading">
      {{#if heading.avatar}}
        {{render '@avatar' heading.avatar merge=true}}
      {{/if}}
      <div class="message_title">{{heading.title}}</div>
    </header>
    {{#if heading.avatar}}
      <div class="content_push content-push--sm">
    {{/if}}
    <p>{{content}}</p>
    {{#if heading.avatar}}
  </div>
  {{/if}}
  </div>
</section>