{{#if isResponsive}}
  <div class="table-responsive">
{{/if}}
<table class="table{{#each modifier}} table--{{.}}{{/each}}">
  <thead>
    <tr>
      {{#each head.row.col}}
        <th>
          {{cell}}</th>
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#each body.row}}
      <tr class="table-row{{#each modifier}} table-row--{{.}}{{/each}}">
        {{#each col}}
          <td data-label="{{#with (lookup @root.head.row.col @index)}}{{cell}}{{/with}}">{{cell}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </tbody>
</table>
{{#if isResponsive}}
  </div>
{{/if}}